* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

    font-size: 1.6rem;
}

.calendar__container {
    justify-content: center;
}

.calendar__list {
    display: flex;

    border: 1px solid black;
}

.calendar__days {
    display: flex;
    flex-direction: column;

}

.calendar__day {
    width: 75px;
    height: 50px;
    border: 1px solid black;

    background-color: lightgray;

    display: flex;
    justify-content: center;
    align-items: center;
}