<section class="cabinet">
    <div class="container cabinet__container">
        <ul class="cabinet__function-list">
            <li class="cabinet__function-item" id="admin-list">Список</li>
            <li class="cabinet__function-item" id="admin-add-pacient">Добавление пациентов</li>
            <li class="cabinet__function-item" id="admin-add-price">Изменение прайс-листа</li>
        </ul>
        <div class="work-space" id="work-space">

        </div>

    </div>
</section>
<script src="../cabinet/script.js" type="module"></script>