<section class="doctors">
    <div class="container doctors__container">
        <h2 class="doctors__title doctors__title_size">Специалисты клиники на Плесецкой</h2>

        <ul class="doctors__list list">
            <li class="list__item">
                <div class="list__img"></div>
                <div class="list__info">
                    <h2 class="list__name">Терапевт - Екатерина Вячеславовна</h2>
                    <p class="list__text"></p>
                    <button class="btn list__btn-more" id="therapist">Узнать больше</button>
                </div>
            </li>

            <li class="list__item">
                <div class="list__img"></div>
                <div class="list__info">
                    <h2 class="list__name">Хирург - Александр Дмитриевич</h2>
                    <p class="list__text"></p>
                    <button class="btn list__btn-more" id="surgeon">Узнать больше</button>
                </div>

            <li class="list__item">
                <div class="list__img"></div>
                <div class="list__info">
                    <h2 class="list__name">Ортопед - Руслан Юрьевич</h2>
                    <p class="list__text"></p>
                    <button class="btn list__btn-more" id="orthopedist">Узнать больше</button>
                </div>
        </ul>
    </div>
</section>
<div class="popap" id="popap">
    <div class="container popap__container">
        <h1 class="popap__title" id="popap__title"></h1>
        <ul class="popap__list" id="diploma">
        </ul>
    </div>
</div>
<script src="../doctors/script.js" type="module"></script>