<section class="login">
    <div class="container login__container">
        <h1 class="login__title">Авторизуйтесь</h1>

        <form action="/auth/login" method="post" id="login__form">

        <input type="text" name="username" max="16" min="3" id="username" value="admin">
        <input type="text" name="password" max="16" min="3" id="password" value="qwerty">
        <input type="submit" value="Отправить" id="submit">

        </form>
    </div>
</section>
<script src="../login/script.js" type="module"></script>