<section class="price">
    <div class="container price__container">
        <h1 class="title">Прайс-лист Стоматологии на Плесецкой</h1>
        <ul class="table" id="table">
            <div class="table__header">
                <li class="table__row table__head">Название услуги</li>
                <li class="table__row table__head">Отдел</li>
                <li class="table__row table__head">Стоимость</li>
            </div>

        </ul>
</section>
<script src="../price/script.js" type="module"></script>