<section class="galery">
    <div class="container galery__container">
        <ul class="galery__list galery__list_flex">
            <li class="galery__item"><img src="../img/inside.webp" alt="изображение интерьера" class="galery__img"></li>
            <li class="galery__item"><img src="../img/adminArea.webp" alt="изображение интерьера" class="galery__img"></li>
            <li class="galery__item"><img src="../img/cabinet.webp" alt="изображение интерьера" class="galery__img"></li>
            <li class="galery__item"><img src="../img/cabinet2.webp" alt="изображение интерьера" class="galery__img"></li>
        </ul>
    </div>
</section>