<ul class="contact__menu">
    <li class="contact__item contact__adress">Г. Санкт-Петербуг, Приморский р-н, ул Плесецкая, д. 20, к. 1</li>
    <li class="contact__item contact__phone">8 (812) 502-10-50</li>
    <li class="contact__item contact_work-time">ПН-СБ: 10:00 - 19:00</li>
</ul>