<nav class="nav">
    <ul class="nav__menu">
        <li class="nav__item"><a class="nav__link link" href="/doctors">Стоматологи</a></li>
        <li class="nav__item"><a class="nav__link link" href="/schedule">Расписание</a></li>
        <li class="nav__item"><a class="nav__link link" href="/price">Прайс-лист</a></li>
    </ul>
</nav>